manifest {
    name            = 'nf-cf-random'
    author          = '''Andrew Perry'''
    homePage        = 'https://github.com/Australian-Protein-Design-Initiative/nf-cf-random'
    description     = '''CF-random (ColabFold) pipeline from samplesheet'''
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '0.1.0'
    defaultBranch   = 'main'
}

params {
    samplesheet = null
    outdir      = 'results'
}

process {
    executor      = 'slurm'
    stageInMode   = 'symlink'
    maxRetries    = 0
    cache         = 'lenient'

    withName: CF_RANDOM {
        accelerator = 1
        time        = 24.hours
        memory      = '32 GB'
        cpus        = 8
    }
}

apptainer {
    enabled      = true
    autoMounts   = true
    pullTimeout  = 3.hours
    runOptions   = "--nv --cleanenv --env PYTHONNOUSERSITE=1 -B \$HOME"
}

docker {
    enabled     = false
    runOptions  = '--gpus all'
}

profiles {
    local {
        executor {
            name            = 'local'
            queueSize       = 1
            pollInterval    = '30 sec'
            submitRateLimit = '1/10sec'
        }
        process {
            executor      = 'local'
            stageInMode   = 'symlink'
            maxRetries    = 0
            cache         = 'lenient'
        }
    }
    slurm {
        executor {
            name                = 'slurm'
            queueSize           = 900
            pollInterval        = '30 sec'
            queueStatInterval   = '10m'
        }
        process {
            executor      = 'slurm'
            stageInMode   = 'symlink'
            maxRetries    = 0
            cache         = 'lenient'
        }
    }
    m3 {
        includeConfig "${projectDir}/conf/platforms/m3.config"
    }
}
